# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/